@font-face {
    font-family: 'Square Pig';
    src: url('../fonts/SquarePeg-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
