$primary-color: #ff6b6b;
$secondary-color: #2e2e3a;
$text-light: #ffffff;
$text-dark: #333333;
$dark-blue: #262733;
$vibrant-orange: #e64a3b;
$papyrus: #eee2d4;
$alternate-gray-blue: #3b3c47;
$mygray: #a5a5aa;

@font-face {
  font-family: 'Square Pig';
  src: url('../fonts/SquarePeg-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.base {
  background-color: $dark-blue;
  font-family: Raleway, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fill-primary {
  fill: $vibrant-orange;
}

.back {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  color: $papyrus;
  font-weight: bold;
  margin-top: 2rem;

  &:hover {
    color: $vibrant-orange;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  flex: 1;
}

svg {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  #start-rect,
  path,
  #plus-medias {
    display: none;
  }
}

.page {
  display: flex;

  flex-direction: column-reverse;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  > div {
    max-width: 450px;
  }

  .image {
    position: relative;
    margin-left: -30px;

    div {
      position: absolute;
      transform: translateX(50%) translateY(-50%);
      display: flex;
      gap: 1.2rem;

      a {
        display: inline-block;
        background-color: $vibrant-orange;
        padding: 0.8rem;
        border-radius: 50%;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  textarea {
    all: unset;
    resize: none;
    height: 5rem;
  }

  .title {
    font-size: 5rem;
    font-weight: bold;
    color: $papyrus;
    margin-bottom: 4rem;
  }

  form {
    display: grid;
    gap: 2rem;

    input,
    textarea {
      padding: 0.4rem 1rem;
      background-color: $alternate-gray-blue;
      outline: none;
      border: none;
      border-bottom: 2px solid $papyrus;
      color: $text-light;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color: $vibrant-orange;
      }

      &::placeholder {
        color: $text-light;
      }
    }

    button {
      padding: 0.7rem 3rem;
      background-color: $vibrant-orange;
      text-transform: uppercase;
      font-weight: bold;
      color: $text-light;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: white;
        color: $vibrant-orange;
      }

      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 2rem;

  .sub {
    justify-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    gap: 0.5rem;
  }

  .title{
    &:hover {
      color: $vibrant-orange;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-light;

    .links {
      display: flex;
      gap: 0.6rem;
      a {
        transition: background-color 0.3s;
        padding: 0.5rem 1rem;

        &.active {
          background-color: $vibrant-orange;
        }
        &:hover {
          background-color: $vibrant-orange;
        }
      }
    }

    .medias {
      display: flex;
      gap: 1rem;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: $vibrant-orange;
        border-radius: 50%;
        &:hover {
          opacity: 80;
        }
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .show-phone {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide-phone {
    display: none;
  }
}

footer {
  background-color: $vibrant-orange;
  padding: 10px 0;
  text-align: center;
}

p,
a {
  color: $text-light;
}

a {
  text-decoration: none;
}

.square-peg {
  font-family:
    Square Peg,
    sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}

